// ===============================================
// BORDER RADIUS VARIABLES
// ===============================================


$border-radius-step: 4;
$border-radius-start: 0;
$border-radius-end: 32;

$border-width-step: 1;
$border-width-start: 1;
$border-width-end: 6;
