// ===============================================
// GRID VARIABLES
// ===============================================


// Number of columns
$columns: 12;

// Default columns gutter
$columns-gutter-x-default: 32px;

// Vertical margins and column gaps
$columns-gutter: 0;
$columns-gutter-end: 32;
$columns-gutter-step: 4;

// Vertical margins
$columns-gutter-y: 0;
$columns-gutter-y-end: 32;
$columns-gutter-y-step: 4;

// Column gaps
$columns-gutter-x: 0;
$columns-gutter-x-end: 32;
$columns-gutter-x-step: 4;
