// ===============================================
// POSITION AND TRANSLATE VARIABLES
// ===============================================


$position-step: 50;
$position-start: -100;
$position-end: 100;
$position-type: '%';
