// ===============================================
// SPACING VARIABLES (MARGIN, PADDING)
// ===============================================


$margin-step: 4;
$margin-start: -16;
$margin-end: 44;
$margin-type: 'px';

$padding-step: 4;
$padding-start: 0;
$padding-end: 44;
$padding-type: 'px';
