// ===============================================
// TYPOGRAPHY VARIABLES
// ===============================================


// TEXT COMPONENTS
// -----------------------------------------------

$text-sizes: xxs xs sm md lg xl xxl;

$h-start: 1;
$h-end: 5;

// -----------------------------------------------
// TEXT COMPONENTS
