// ===============================================
// STAMP VARIABLES
// ===============================================


// stylelint-disable block-closing-brace-empty-line-before, scss/selector-nest-combinators
:root[data-theme='asap'] {


	--stamp-fw: var(--fw-b);

	--stamp-default-border-cl: var(--cl-blue-300);
	--stamp-default-cl: var(--cl-blue-300);

	--stamp-danger-border-cl: var(--cl-red-300);
	--stamp-danger-cl: var(--cl-red-300);


}
// stylelint-enable block-closing-brace-empty-line-before, scss/selector-nest-combinators
